NearByHotels/NearByHotels/Service References/HotelService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56262/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NearByHotels" />
  <xs:element name="getHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NearByHotels" minOccurs="0" name="getHotelsResult" nillable="true" type="q1:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHotelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHotelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NearByHotels" minOccurs="0" name="getHotelDetailsResult" nillable="true" type="q2:ArrayOfHotelDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>